{% extends 'marketplace/layout.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-wrap">
    <div class="row">
        {% if inseration_list %}
            {% for inseration in inseration_list %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{inseration.images.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" href="www.greenclothaway.eu/inserations/{{ inseration.id }}">{{ inseration.title }}</h5>
                        <p class="card-text">{{ inseration.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>no inserations</p>
        {% endif %}
    </div>
</div>
{% endblock %}