{% extends 'marketplace/layout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<main class="page">
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-auto">
                    {% bootstrap_field filter_form.category show_label=True %}
                </div>
                <div class="col-auto">
                    {% bootstrap_field filter_form.subcategory show_label=True %}
                </div>
                <div class="col-auto">
                    {% bootstrap_field filter_form.size show_label=True %}
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-block" type="submit"
                            style="margin-top: 50px; margin-bottom: 20px; ">
                        filter
                    </button>
                </div>
            </div>
        </form>



        <div class="d-flex flex-wrap">
            <div class="row">
                {% if inseration_list %}
                {% for inseration in inseration_list %}
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{inseration.images.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ inseration.title }}</h5>
                            <p class="card-text">{{ inseration.description }}</p>
                            <a class="stretched-link" href="{% url 'view_inseration' inseration.id %}"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>no inserations</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}