from website.settings_default import *

# SECURITY WARNING: keep the secret key used in production secret!
# see django doc for generating secrete key and do it
# create secret_key:

SECRET_KEY = ''

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['localhost', '127.0.0.1']

# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases
# enter db specs fitting your local machine

